html {
  height: 100%;
  width: 100%;
}


h1{  margin: 30px;
font-family: arial;
text-align: center;
 }
 .container{height: 200px;
 position: relative}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}
  footer{margin: 0;
  position: absolute;
  bottom: -90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);} 

.topnav{ background-color: #b7c0b2;
overflow: hidden;
  
}
.topnav a{color:#74865f;
          text-align: center;
          display: block;
          font-size:3vw;
          text-decoration: none;
          padding: 17px;
          float: left;
          margin: 0;
  font-family: 'Lucida Sans';
          
         }
.topnav a:hover{background-color:#cbd0c8;
                color:#2F4F4F;
               
                 
}
.topnav a:active{
  background-color:#506543;
  color:antiquewhite;}

.topnav .icon {
  display: none;
}

p1{font-family: 'Lucida Sans';
  
}

.row{

  display: flex;
  flex-wrap: wrap;

 }
.column {
  flex: 33.33%;
  padding: 5px;
}
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}
 


